
<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-header">
                <div class="text-center">CHECK WRITER</div>
            </div>
            <form class="card-body">
                <div class="form-group">
                    <label for='num'>Enter the number: </label>
                    <input type="number" name="num" placeholder='enter the number' class="form-control" 
                    [(ngModel)]='input'    >               
                    
                </div>
                <button type='button' (click)='f2()' >Check</button> 

            </form>
       
{{result}}

        </div>
        
    </div>
</div>
